html
    font-family: 'Roboto', sans-serif

*
    margin: 0
    
.container
    max-width: 1130px
    width: 100%
    margin: auto

.button
    &_primary
        padding: 15px 90px
        border: none
        border-radius: 25px
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 15px
        line-height: 16px
        color: #013A51
        cursor: pointer
    &_secondary
        padding: 15px 100px
        border: none
        border-radius: 25px
        background: #192F44
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 15px
        line-height: 16px
        color: #FFF
        cursor: pointer
    &_greenbutton
        padding: 15px 58px
        border: none
        border-radius: 25px
        background: #00CA90
        font-family: 'Roboto'
        font-style: normal
        font-weight: 400
        font-size: 15px
        line-height: 16px
        color: #FFF
        cursor: pointer
.span
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 24px
    color: #00CA90

